@import '~styles/fonts';
@import '~styles/colors';

.nested {
  margin-left: 20px;
}

.task {
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  &.completed {
    .title {
      text-decoration: line-through;
      opacity: .5;
    }
  }

  .checkbox {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    cursor: pointer;

    input {
      height: 20px;
      width: 20px;
      margin: 0;
      appearance: none;
      outline: none;
      border-radius: 4px;
      border: 1px solid $color12;
      background-color: $color1;
      transition-duration: 0.3s;
      cursor: pointer;
    }

    input:checked {
      border: 1px solid $color12;
      background-color: $color3;

      &:before {
        content: '\2713';
        display: block;
        text-align: center;
        color: $color1;
        font-size: 15px;
        position: absolute;
        left: 5px;
      }
    }
  }

  .title {
    @include f1-24-thin;
    margin-left: 10px;
  }

  &:hover {
    .actionBtn {
      display: flex;
    }
  }
  .actionBtn {
    display: none;
    appearance: none;
    border: none;
    background: none;
    opacity: .5;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &:after {
      @include f1-24-thin;
      font-size: 23px;
    }
  }

  .deleteBtn {
    color: $color14;
    &:after {
      content: 'x';
    }
  }
  .nestedBtn {
    color: $color3;

    &.rightArrow:after {
      content: '→';
    }
    &.leftArrow:after {
      content: '←';
    }
  }
}
