@import '~styles/fonts';
@import '~styles/colors';

$opacity: .8;
$opacityOnHover: .2;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 0 18px;
  border: 1px solid rgba($color3, $opacityOnHover);
  border-radius: 3px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 10px;

  &--active {
    background-color: rgba($color3, $opacity);
    border-color: transparent;
    color: $color1;

    &:hover {
      background-color: rgba($color3, $opacity);
      border-color: transparent;
      color: $color1;
    }
  }

  &:hover {
    border-color: $color3;
    background-color: rgba($color3, $opacityOnHover);
    color: $color3;
  }
}
