$black: #000000;
$bluishBlack: #1D355D;
$white: #ffffff;
$primary: #7865f4;
$seafoamBlue: #54cdc8;
$coral: #f5665f;
$dodgerBlue: #6091ff;
$lightMustard: #f8c45d;
$pink: #f686c2;
$orangeish: #f9914b;
$steel: #848e9c;
$blueGrey: #5d6c81;
$charcoalGrey: #343b44;
$veryLightGrey: #ececec;
$darkSmoke: #e4e6e7;
$whiteSmoke: #f4f4f4;
$whiteSmokeLight: #f8f8f8;
$whiteGrey: #f7f8f9;
$error: #e20a44;
$bluishGrey: #647387;
$pine: #343a25;
$success: #43c283;

$color1: $white;
$color2: $black;
$color3: $primary;
$color4: $seafoamBlue;
$color5: $coral;
$color6: $dodgerBlue;
$color7: $lightMustard;
$color8: $pink;
$color9: $orangeish;
$color10: $steel;
$color11: $blueGrey;
$color12: $charcoalGrey;
$color13: $veryLightGrey;
$color14: $error;
$color15: $bluishGrey;
$color16: $pine;
$color17: $success;
$color18: $whiteGrey;
$color19: $bluishBlack;
$color20: $whiteSmoke;
$color21: $whiteSmokeLight;
$color22: $darkSmoke;
