$black: #000000;
$white: #ffffff;
$primary: #7865f4;
$error: #e20a44;
$steel: #848e9c;
$charcoalGrey: #343b44;

$color1: $white;
$color2: $black;
$color3: $primary;
$color4: $error;
$color5: $steel;
$color6: $charcoalGrey;
