$fontFamily1: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
$f1-semibold-weight: 600;
$f1-medium-weight: 500;
$f1-regular-weight: 400;
$f1-thing-weight: 200;

@mixin f1-100-thin {
  font-family: $fontFamily1;
  font-size: 100px;
  font-weight: $f1-thing-weight;
  line-height: 1;
  letter-spacing: 0.49px;
}

@mixin f1-24-thin {
  font-family: $fontFamily1;
  font-size: 24px;
  font-weight: $f1-thing-weight;
  line-height: 1.25;
  letter-spacing: 0.34px;
}

@mixin f1-20-thin {
  font-family: $fontFamily1;
  font-size: 20px;
  font-weight: $f1-thing-weight;
  line-height: 1.25;
  letter-spacing: 0.34px;
}

@mixin f1-16-regular {
  font-family: $fontFamily1;
  font-size: 16px;
  font-weight: $f1-regular-weight;
  line-height: 1;
  letter-spacing: 0.23px;
}

@mixin f1-14-regular {
  font-family: $fontFamily1;
  font-size: 14px;
  font-weight: $f1-regular-weight;
  line-height: 1;
  letter-spacing: 0.23px;
}
