@import '~styles/fonts';
@import '~styles/colors';

.todoApp {
  margin: 10vh auto;
  max-width: 600px;

  &__title {
    @include f1-100-thin;
    text-align: center;
    color: $color3;
    margin-bottom: 20px;
  }

  &__paperContainer {
    width: 100%;
    background-color: $color1;
    box-shadow: 0 8px 21px 0 rgba($color3, 0.16);
    border: solid 1px rgba($color3, 0.16);
    padding: 29px 30px 30px;
    border-radius: 10px;

    &__actionBtns {
      display: flex;
      align-items: center;
      margin-top: 30px;
      justify-content: space-between;
    }
  }
}
