@import '~styles/fonts';
@import '~styles/colors';

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba($color3, .2);

  @include f1-14-regular;

  &__filterGroup {
    display: flex;
  }
}
